{% extends 'base.html.twig' %}

{% block body %}
    <h1>Suprategories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suprategory in suprategories %}
            <tr>
                <td><a href="{{ path('suprategory_show', { 'id': suprategory.id }) }}">{{ suprategory.id }}</a></td>
                <td>{{ suprategory.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('suprategory_show', { 'id': suprategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('suprategory_edit', { 'id': suprategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('suprategory_new') }}">Create a new suprategory</a>
        </li>
    </ul>
{% endblock %}
